<div id="map"></div>

<div id="indexbox" class="col-xs-5 col-xs-offset-1">
  <p>In 2014, a street-savvy 2 year old boy named Adam and his uber-cool daddy (yours truly) embarked on an ambitious quest to find and catalog every cool kids attraction in London. After 4 months, we're starting to realise that this could take a while, so we've set up this site so that other parents can help us out! </p>
  <p>Below is a map of all the fun kid-friendly places that we've visited, or would like to visit, throughout London. Hopefully this will be helpful if you're living in London and are trying to find something fun to do near you. We'd love your contributions too, so please feel free to <%= link_to "sign up", new_user_registration_path %> and add your own recommendations! (<a href="http://adamand.me/about">More about Adam and me.</a>)</p>
</div>



  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script type="text/javascript">
  // http://stackoverflow.com/questions/3059044/google-maps-js-api-v3-simple-multiple-marker-example
  // http://stackoverflow.com/questions/16825290/google-maps-api-v3-adding-multiple-markers-w-info-windows-w-custom-text
    var locations = [
      <% @places.each do |place| %>
        <% if place == @places.last %>
        ['<%= link_to place.name, place_path(place) %><br/><%= place.description %>', <%= place.latitude %>, <%= place.longitude %>, 4]
        <% else %>
        ['<%= link_to place.name, place_path(place) %><br/><%= place.description %>', <%= place.latitude %>, <%= place.longitude %>, 4],
        <% end %>
      <% end %>
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: new google.maps.LatLng(51.517026, -0.109195),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>